body {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
}

.leftColumn {
    max-height: 100vh;
}

canvas {
    border: 1px solid black;
    display: block;
}

.canvasAndSelection {
    position: relative;
    /* background-color: antiquewhite; */
}

#canvasForm {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

#canvasForm>input {
    padding: 12px;
    font-size: 14px;

}

#canvasForm>label {
    padding-top: 10px;

}

#infoButton {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-size: 15px;
    font-family: Georgia, serif;
    background-color: #6976CB;
    font-weight: 800;
}

.accordion {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: white;
    /* cursor: pointer; */
    margin: 0;
    padding: 20px;
    /* top: 0; */
    width: calc(100% - 5px);
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    box-sizing: border-box;
}

.accordion:nth-of-type(1) {
    background-color: #4CAF50;
}

.accordion:nth-of-type(2) {
    background-color: #4A90E2;
}

.accordion:after {
    content: '\002B';
    /* font-size: 20px; */
    float: right;
    margin-left: 5px;
    font-weight: 900;
}

.active:after {
    content: "\2212";
    font-weight: 900;
}


.resizable-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.resizable-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.resizable-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    /* Зеленый цвет */
    color: white;
    border: none;
    grid-column: span 2;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #218838;
}




.tab {
    overflow-y: scroll;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    position: sticky;
    top: 0;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tab>input[type="radio"] {
    display: none;
}

.content {
    display: none;
    width: 100%;
    margin-top: 1rem;
    background-color: #f1f1f1;
    margin: 0;
    /* border-radius: 0 0 15px 15px; */
}

.btn:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.btn:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.tab>label {
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    /* transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; */
    text-decoration: none;
    color: #333;
    /* border: 0; */
    /* border-radius: 0.375rem; */
    background: 0 0;
}

.tab>input[type="radio"]:hover+label {
    color: #fff;
    background-color: #77a9e2;
}

.tab>input[type="radio"]:checked+label {
    color: #fff;
    background-color: #4A90E2;
}



/* Modal styles */
.modal {
    display: none;
    /* Скрыть модальное окно по умолчанию */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white
}

.content>button {
    margin: 0 0 0 15px;
}

.plus {
    background-color: #4CAF50;
}

.repeat, .copy {
    background-color: #3C4A63;
    margin: 0 7px 0 15px;
}

.repeat:hover, .copy:hover {
    background-color: #202837;
}
.repeat:active, .copy:active {
    background-color: #666e7c;
}

.deleteTextLowLayer {
    margin-left: 15px;
}

.deleteTextLowLayer> label{
    align-items: center;
    display: flex;
}

.checkText {
    height: 15px;
    width: 15px;
}

.repeatLabel {
    margin-bottom: 10px;
    display: flex;
}
.layerLabel{
    margin-top: 10px;
    display: flex;
}

.rotate {
    background-color: #F39C12;
}

.plus:hover {
    background-color: #218838;
}

.rotate:hover {
    background-color: #EE7F12;
}

button#saveConfirm,
button#deleteConfirm {
    background-color: #4CAF50;
    color: white;
}

button#saveConfirm:hover,
button#deleteConfirm:hover {
    background-color: #218838;
}

button#saveCancel,
button#deleteCancel {
    background-color: #f44336;
    color: white;
}

button#saveCancel:hover,
button#deleteCancel:hover {
    background-color: #b9362c;
    color: white;
}

.selection-box {
    margin-left: 20px;
    border: 1px dashed rgba(0, 0, 255, 0.7);
    position: absolute;
    background: rgba(0, 0, 255, 0.2);
    pointer-events: none;
}

.color_wrapper {
    background-color: black;
    display: inline-block;
    visibility: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.color_wrapper::before {
    content: "";
    position: absolute;
    border-radius: 3px;
    outline: black solid 2px;
    border: white solid 3px;
    height: 2rem;
    width: 2rem;
    pointer-events: none;
    background-color: inherit;
    visibility: visible;
    box-sizing: border-box;
}

.color_picker {
    opacity: 0;
    height: 2rem;
    width: 2rem;
    box-sizing: border-box;
    pointer-events: initial;
    visibility: visible;
}


.color_picker_alpha {
    filter: grayscale(100%);
    visibility: visible;
}

.modal-content-inst {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

button#infoButton {
    font-size: 18px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button#infoButton:hover {
    background-color: #0056b3;
}


.modal-content-inst h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;

}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.action {
    font-size: 18px;
    flex: 1;
}

.key {
    font-size: 18px;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    min-width: 40px;
}

.key:hover {
    background-color: #007bff;
    color: #ffffff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}